{% extends 'layout.html' %}

{% block content %}
<div class="selection-ctn">
    <span>Test Names:</span>
    {% for engine in engines %}
    <span><button class="engine gray-button" value="{{engine.engine_name}}">{{ engine.engine_name }}</button></span>
    {% endfor %}
</div>
<div class="selection-ctn">
    <span>Period:</span>
    <span><button class="step gray-button" value="10">10秒</button></span>
    <span><button class="step blue-button" value="30">30秒</button></span>
    <span><button class="step gray-button" value="60">60秒</button></span>
    <span><button class="step gray-button" value="600">600秒</button></span>
    <span><button class="step gray-button" value="1800">30分钟</button></span>
    <span><button class="step gray-button" value="3600">60分钟</button></span>
</div>
<div class="selection-ctn">

    <!--<span><button class="duration blue-button" value="1">1小时</button></span>-->
    <!--<span><button class="duration gray-button" value="3">3小时</button></span>-->
    <!--<span><button class="duration gray-button" value="6">6小时</button></span>-->
    <!--<span><button class="duration gray-button" value="12">12小时</button></span>-->
    <!--<span><button class="duration gray-button" value="24">24小时</button></span>-->
    <!--<span><button class="duration gray-button" value="72">72小时</button></span>-->
    <!--<span><button class="duration gray-button" value="240">240小时</button></span>-->
</div>
<div class="selection-ctn">
    <div>
        <span>Test History:</span>
        <span id="history-button">Expand/Close</span>
        <span>
            <input type="text" id="start-time" value="2016-12-05 15:10:00"/> to
            <input type="text" id="end-time" value="2016-12-05 00:00:00"/>
        </span>
        <span><button id="choose-time" class="gray-button" value="0">Submit</button></span>
        <span><b>(Default end time is start time + 2 days)</b></span>
    </div>
    <div id="start-history">
        <div id="history-menu"></div>
        <pre id="history-left">Command Line Script</pre>
        <pre id="history-right">Environment</pre>
    </div>
</div>

<div id="loading">
    <div>If you come within URL parameters and the page didn't auto-submit, please click "Submit" first.</div>
    <br/>
    <div>For other uses, please: </div>
    <div>1. Select am engine name</div>
    <div>2. Select a time period at the "start history", or input time period manually</div>
    <div>3. Click submit button</div>
</div>

<button class="close-open-btn" target="ops-chart">OPS</button>
<div id="ops-chart" class="chart"></div>

<button class="close-open-btn" target="latency-chart">Latency(Log)</button>
<div id="latency-chart" class="chart"></div>

<button class="close-open-btn" target="cpu-chart">CPU Usage</button>
<div id="cpu-chart" class="chart"></div>

<button class="close-open-btn" target="memory-chart">Memory Usage</button>
<div id="memory-chart" class="chart"></div>

<button class="close-open-btn" target="dbsize-chart">DBSize</button>
<div id="dbsize-chart" class="chart"></div>

{% endblock %}

{% block pageCSS %}{% endblock %}

{% block pageJS %}
<script type="text/javascript" src="/asserts/javascripts/echarts.min.js"></script>
<script type="text/javascript" src="/asserts/javascripts/common.js"></script>
<script type="text/javascript" src="/asserts/javascripts/engine.js"></script>
<script type="text/javascript" src="/asserts/javascripts/engine_charts.js"></script>

<script type="text/javascript">
    // 切换显示历史启动记录
    $("#history-button").click(function(){
        const current = $("#start-history").css("display")
        if(current == 'none') {
            $("#start-history").css("display", "inline-block")
        }else{
            $("#start-history").css("display", "none")
        }
    })

    // 切换统计间隔时间
    $(function () {
        $(".step").click(function () {
            $(".step.blue-button").addClass("gray-button")
            $(".step.blue-button").removeClass("blue-button")
            $(this).removeClass("gray-button")
            $(this).addClass("blue-button")
            $.setUrlVar("step", $(this).val())
        })

        var step = $.getUrlVar('step')
        $('.step').each(function (i, e) {
            if ($(e).val() == step) {
                $(e).click()
            }
        })
    })

    // 切换统计时间区间
    $(function () {
        $(".duration").click(function () {
            $(".duration.blue-button").addClass("gray-button")
            $(".duration.blue-button").removeClass("blue-button")
            $(this).removeClass("gray-button")
            $(this).addClass("blue-button")

            // reset start/end time
            $("#start-time").val(new Date(new Date().getTime() - $(this).val() * 60 * 60 * 1000).Format("yyyy-MM-dd hh:mm:ss"))
            $("#end-time").val(new Date().Format("yyyy-MM-dd hh:mm:ss"))
            $.setUrlVar("start", $("#start-time").val().replace(' ', 'T'))
            $.setUrlVar("end", $("#end-time").val().replace(' ', 'T'))
        })
    })

    // 切换引擎
    $(function () {
        $(".engine").click(function () {
            $(".engine.blue-button").addClass("gray-button")
            $(".engine.blue-button").removeClass("blue-button")
            $(this).removeClass("gray-button")
            $(this).addClass("blue-button")
            $.setUrlVar("engine", $(this).text())

            // 切换引擎后，立即读取该引擎的历史记录
            fetchCommandHistory($(this).text())

        })

        var engine = $.getUrlVar('engine')
        if (!!engine) {
            $(".engine").each(function (i, e) {
                if ($(e).text() == engine) {
                    $(e).click()
                }
            })
        }
    })

    // 手动选择指定时间区间
    $(function () {
        $('#start-time').keyup(function (e) {
            if (e.keyCode == 13) {
                $("#choose-time").click()
            }
        });
        $('#end-time').keyup(function (e) {
            if (e.keyCode == 13) {
                $("#choose-time").click()
            }
        });

        // 提交时间后，真正读取图表数据
        $("#choose-time").click(function () {
            $("#loading").text("Loading...")
            $.setUrlVar("start", $("#start-time").val().replace(' ', 'T'))
            $.setUrlVar("end", $("#end-time").val().replace(' ', 'T'))
            $(".duration").addClass("gray-button")
            reloadChart();
        })

        var start = $.getUrlVar('start')
        var end = $.getUrlVar('end')

        if (!!start && !!end) {
            $("#start-time").val(start.replace('T', ' '))
            $("#end-time").val(end.replace('T', ' '))
        }
    })

    // 展开和关闭图表
    $(function () {
        $(".close-open-btn").click(function () {
            var target = $(this).attr("target")
            $("#" + target).toggle(100)
        })
    })

    // 进入页面后，如果携带有参数进来，则直接触发sumit按钮
    if(!!$.getUrlVar('start') && !!$.getUrlVar('end') && !!$.getUrlVar('engine')) {
        setTimeout(function(){
            $("#choose-time").click()
        }, 1000)
    }

</script>
{% endblock %}
