<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Terark Benchmarks</title>

    <link href="/asserts/styles/global.css" rel="stylesheet">
    <link href="/asserts/styles/main.css" rel="stylesheet">
    <link href="/asserts/styles/mobile.css" rel="stylesheet">
    {% block pageCSS %}{% endblock %}
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <!--[if lt IE 9]>
    <script src="/asserts/javascripts/html5_ie9.js"></script>
    <![endif]-->
</head>
<body>

<div class="nav-ctn">
    <div class="nav-body clearfix">
        <a href="/" class="logo"></a>
        <div class="nav-menus">
            <ul>
                <li><a href="/engine">Engine Tests</a></li>
                <li><a href="#">MongoDB Tests(TODO)</a></li>
                <li><a href="#">MySQL Tests(TODO)</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="p10">
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap -->
<script src="/asserts/javascripts/jquery-1.12.1.min.js"></script>
<script src="/asserts/javascripts/jquery.cookie.js"></script>
<script src="/asserts/javascripts/common.js"></script>
<script type="text/javascript">
</script>
{% block pageJS %}{% endblock %}
</body>
</html>