/**
 * blue : #3b74ac;
 * blue-blur: #507bac:
 * blue-lighter : #4889ca
 * gray : #a6aaaf
 */

/** top nav bar **/
.nav-ctn {
    position: static;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 45px;
    background: #3b74ac;
    background: -webkit-linear-gradient(top, #3b74ac, #3b74ac);
    background: linear-gradient(to bottom, #3b74ac, #3b74ac);
    border-bottom: 1px solid #3b74ac;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .15);
}

.nav-body {
    width: auto;
    margin: 0 auto;
    clear: both;
    padding-left: 6px;
    padding-right: 6px;
}

.nav-body .logo {
    float: left;
    width: 150px;
    height: 45px;
    background-image: url(../image/logo_wide_white.png);
    background-size: 150px;
    text-indent: -9999px;
    color: #FFF;
}

.nav-body .nav-profile {
    float: right;
    position: relative;
    min-width: 120px;
    margin-left: 0px;
    z-index: 10;
}

.nav-body .nav-profile .user-info {
    position: relative;
    height: 50px;
    line-height: 45px;
    text-indent: 46px;
    color: #fff;
    text-decoration: none;
    border-top: 0;
    background: transparent;
    box-shadow: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 120px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    font-size: 14px;
}

.nav-body .nav-profile .user-info .avatar {
    position: absolute;
    top: 9px;
    left: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

.nav-body .nav-profile .nav-dropdown {
    top: 46px;
    margin: 0;
    position: absolute;
    right: 0px;
    display: none;
}

.nav-body .nav-profile .nav-dropdown li a {
    width: 105px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border-top: 1px solid #407fbd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    background-color: #3b74ac;
    font-size: 14px;
    padding-left: 15px;
    color: #FFF;
}

.nav-body .nav-add-code {
    float: right;
    width: 66px;
    height: 30px;
    line-height: 28px;
    margin-top: 7px;
    border: 0;
    background: #4889ca;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}

.nav-body .nav-login-btn {
    float: right;
    width: 100px;
    height: 32px;
    line-height: 35px;
    margin-top: 7px;
    border: 0;
    background: #4889ca;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}

.nav-body .nav-menus {
    float: left;
    right: 0px;
    position: relative;
}

.nav-body .nav-menus ul li {
    position: relative;
    float: left;
    margin: 0;
    list-style: none;
}

.nav-body .nav-menus ul li a {
    margin: 0 10px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    color: #f2f4f5;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    font-size: 14px;
}

/** engine test **/
.selection-ctn {
    margin: 10px;
}

.selection-ctn span {
    display: inline-block;
    margin: 5px 5px;
}

.selection-ctn span button {
    height: 30px;
    line-height: 28px;
    display: inline-block;
    padding: 0 10px;
}

.chart {
    width: 100%;
    height: 500px;
    display: block;
}

.close-open-btn {

}

#loading {
    font-size: 20px;
    text-align: left;
    padding: 50px 300px;
}

#setting {
    width: 80px;
    top: 50px;
    position: absolute;
    right: 10px;
    height: 30px;
    line-height: 32px;
    display: none;
}

#restart {
    position: absolute;
    top: 50px;
    right: 100px;
    padding: 20px;
    border: 1px solid #CCC;
    background-color: #FFF;
    z-index: 1000;
}

#restart div > span:first-child {
    width: 80px;
    display: inline-block;
}

#restart .buttons {
    text-align: center;
    margin-top: 10px;
}

#restart button {
    width: 80px;
    height: 30px;
    line-height: 32px;
    display: inline-block;
}

#start-history {
    display: none;
    margin-left: 100px;
    padding-left: 50px;
    font-size: 13px;
    border: 1px solid #EEE;
}

#start-history #history-menu {
    float: left;
    width: 160px;
    max-height: 600px;
    overflow: scroll;
}

#start-history #history-left,
#start-history #history-right {
    float: left;
    width: 450px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #CCC;
    word-break: break-word;
    max-height: 600px;
    overflow: scroll;
}

#start-history .menu {
    background-color: #EEE;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 3px;
}

#history-button {
    background-color: #AAA;
    padding: 3px 5px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    color: #FFF;
}

#start-time, #end-time {
    font-size: 14px;
    font-weight: 500;
}